.titlebar {
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.window-frame,
.window-frame:backdrop,
.window-frame.csd.popup {
    border-width: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: 0 0 0 0 black;
}

GtkLabel.title {
    opacity: 0;
}

